//----------color----------
$colorPrimary: #15e1e6;
$colorPrimaryDark: #0b8a8d;

$colorComplementary: #ffd000;
$colorComplementaryLight: #fffcf1;

$colorShadow: rgba(0, 206, 209, 0.4);

$black: #002728;
$white: #f1ffff;

//----------font size----------
$fontSizeBase: 14px; // Default font size
$fontSize-h1: 2rem;
$fontSize-h2: 1.6rem;
$fontSize-h3: 1.1rem;

//----------basic gap----------
$spacing: 10px;

//----------basic box height----------
$boxHeight: 300px;
$boxWidth: 320px;

//----------breakpoints----------
$breakpointTablet: 744px;
$breakpointComputer: 1440px;

//----------maximum page width----------
$pageMaxWidth: 1440x;
